.dark-theme {
  background-color: #000;
  color: #fff;

}

.dark-theme {
  background-image: url('./imagem/5040007.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

}



.dark-theme {
  background-color: #0a0a0a;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.text-container {
  margin-left: 200px;
}


.text-container h4,
.text-container h6 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 18px;
  line-height: 1.4;
  margin: 5px 0;
}